<!DOCTYPE html>
<html ng-app="tollplazaApp">

<head>
  <title>Tollplaza Application</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">

  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
  <script type="text/javascript" src="/js/controllers.js"></script>
</head>

<body>
  <div class="container">
    <h1>Toll Plaza Application</h1>
    <hr/>
    <div ><menu>
      <a href="#/home">Home</a>
      <a href="#/toll">CalculateToll </a>
    </menu> </div>
    <div>
      <ng-view></ng-view>
  </div>
  </div>

  <!-- Live reload script -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>

</html>
